body {
    font-family: "PP Gatwick Jet Extralight";
    overflow-x: hidden;
}

.hero .videos-frames {
    position: relative;
}
.text-color{
    color: white;
     margin-top: 0;
    margin-bottom: 0;
}


.hero .hero-text {
    position: absolute;
    /* width: 100%; */
    top: 43%;
    left: 25%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    overflow: hidden;
    /* display: none; */
}
.hero .hero-text h2{
    font-size: 47px;
    padding-bottom: 8px;
}
.hero .hero-text a {
      font-family: "Source Sans 3", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 2px solid white;
    letter-spacing: 3px;
    font-weight: 600;
}
.hero .hero-text2 {
    position: absolute;
    bottom: 13%;
    left: 6%;
    overflow: hidden;
}
.hero h2 {
    font-size: 46px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
}
.hero .hero-text3 {
    position: absolute;
    bottom: 13%;
    right: 6%;
    overflow: hidden;

}